<h2 class="text-white text-center">Tienda</h2>
<hr class="text-white">

<ul class="list-group">
  <li class="list-group-item text-center" routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    Dashboard
  </li>

  <li class="list-group-item text-center" routerLink="nuevocliente" routerLinkActive="active">
    Registrar Cliente
  </li>

  <li class="list-group-item text-center" routerLink="nuevoproducto" routerLinkActive="active">
    Registrar Producto
  </li>

</ul>
