<div *ngIf="pais">
  <h1>Country: {{ pais.name.common }}</h1>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4">
      <h2>Flag</h2>
      <img
        class="w-100 p-1 border border-1 rounded"
        src="{{ pais.flags.png }}"
        alt="bandera"
      />
    </div>

    <div class="col-12 col-sm-6 col-md-8">
      <h2>Information</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="fw-bold">Population </span>{{ pais.name.common }}
        </li>
        <li class="list-group-item">
          <span class="fw-bold">Country code </span>{{ pais.name.common }}
        </li>
        <li class="list-group-item">
          <span class="fw-bold">Alpha3 code </span>{{ pais.name.common }}
        </li>
        <li class="list-group-item">
          <span class="fw-bold">Capital </span>{{ pais.name.common }}
        </li>
      </ul>
    </div>

    <div class="col-12">
      <h3>Translations</h3>
      <div class="d-flex gap-1 flex-wrap">
        <p class="badge text-bg-primary">
          {{ pais.translations["ara"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["bre"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["ces"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["cym"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["deu"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["est"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["fin"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["fra"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["hrv"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["hun"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["ita"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["jpn"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["kor"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["nld"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["per"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["pol"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["por"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["rus"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["spa"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["srp"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["swe"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["tur"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["urd"].common }}
        </p>
        <p class="badge text-bg-primary">
          {{ pais.translations["zho"].common }}
        </p>
      </div>
    </div>
  </div>
</div>
