nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

button {
    border-radius: 20px;
    background-color: blue;
    color: white;
    font-size: large;
    cursor: pointer;
    
    &:hover {
        background-color: rgba(0, 0, 255, 0.809);
        border-color: lime;
    }
}