<div>
  <h1>Country:</h1>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4">
      <h2>Flag</h2>
      <img
        class="w-100 p-1 border border-1 rounded"
        src="{{ pais.flags.png }}"
        alt="bandera"
      />
    </div>

    <div class="col-12 col-sm-6 col-md-8">
      <h2>Information</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <span class="fw-bold">Population </span>{{ pais.population | number }}
        </li>
        <li class="list-group-item">
          <span class="fw-bold">Country code </span>{{ pais.ccn3 | number }}
        </li>
        <li class="list-group-item">
          <span class="fw-bold">Alpha3 code </span>{{ pais.cca3 }}
        </li>
        <li class="list-group-item">
          <span class="fw-bold">Capital </span>{{ pais.capital }}
        </li>
      </ul>
    </div>

    <div class="col-12">
      <h3>Translations</h3>
      <div class="d-flex flex-column gap-1 flex-wrap">
        <p>English: <span class="badge text-bg-primary">{{pais.name.common}}</span></p>
        <p>Spanish: <span class="badge text-bg-primary">{{pais.translations['spa'].common}}</span></p>
        <p>French: <span class="badge text-bg-primary">{{pais.translations['fra'].common}}</span></p>
      </div>
    </div>
  </div>
</div>
