main {
    display: flex;
    justify-content: space-evenly;

    li {
        list-style: none;
    }

    > ul {
        background-color: black;
        border-radius: 10px;
        padding: 1rem;

        > li > a:first-child {
            background-color: white;
            border-radius: 10px;
            padding: 5px;
        }

        ul>li {
            background-color: white;
            border-radius: 10px;
            padding: 5px;
            margin: 10px;
        }
    }
}

div#route {
    display: flex;
    justify-content: center;
    background-color: blue;
    color: white;
}
