<h3>Buscar</h3>

<input
  type="text"
  name="buscador"
  id="buscador"
  placeholder="Buscar gifs..."
  #txtquery
  autofocus
  (keyup.enter)="buscar(txtquery)"
  class="w-100 form-control"
/>

<ul style="list-style: none" class="p-0 pt-3 gap-2 container-fluid">
  <li class="row" style="row-gap: 1rem">
    <div
      class="d-flex flex-column col-12 col-sm-6 col-md-4 col-lg-3"
      *ngFor="let gif of resultados"
    >
      <img [src]="gif.images.downsized.url" class="rounded" alt="gif" />
      <span>{{ gif.title }}</span>
    </div>
  </li>
</ul>
