<h2>Registrar nuevo cliente</h2>
<hr />

<div class="row">
  <div class="col ml-3">
    <form autocomplete="off" [formGroup]="formCliente" (ngSubmit)="registrar()">
      <!-- Campo de Nombre -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del cliente"
            formControlName="nombre"
          />

          <span
            class="text-danger"
            *ngIf="
              formCliente.controls['nombre'].errors &&
              formCliente.controls['nombre'].touched
            "
          >
            El nombre no puede estar vacío
          </span>
        </div>
      </div>

      <!-- Campo de Edad -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Edad</label>
        <div class="col-sm-9">
          <input
            type="number"
            class="form-control"
            placeholder="Edad del cliente"
            formControlName="edad"
          />

          <span
            class="text-danger"
            *ngIf="
              formCliente.controls['edad'].errors &&
              formCliente.controls['edad'].touched
            "
          >
            Debes poner tu edad
          </span>
        </div>
      </div>

      <!-- Campo de Genero -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              value="M"
              id="radioMasculino"
              name="flexRadioDefault"
              formControlName="genero"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              Masculino
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              value="F"
              id="radioFemenino"
              name="flexRadioDefault"
              formControlName="genero"
            />
            <label class="form-check-label" for="flexRadioDefault2">
              Femenino
            </label>
          </div>

          <span
            class="text-danger"
            *ngIf="
              formCliente.controls['genero'].errors &&
              formCliente.controls['genero'].touched
            "
          >
            Rellena el campo de género, por favor
          </span>
        </div>
      </div>

      <!-- Boton Guardar -->
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">
            Registrar
          </button>
        </div>

        <span class="alert alert-success" *ngIf="registrado">
          Cliente registrado con éxito
        </span>
      </div>
    </form>
  </div>
</div>
