<div class="d-flex gap-3">
  <h3>Search by region</h3>
  <button class="btn btn-small btn-success" (click)="limpiar()">Clear</button>
</div>

<hr />

<input
  type="text"
  name="buscador"
  id="buscador"
  placeholder="Search..."
  autocomplete="off"
  #txtquery
  autofocus
  (keyup.enter)="buscar(txtquery)"
  class="w-100 form-control"
/>

<hr />

<div *ngIf="error && !limpio" class="alert alert-danger">
  Nothing found with the term "{{ busqueda }}"
</div>

<table
  *ngIf="!error && !limpio"
  class="table table-hover col-12 col-sm-6 col-md-4 col-lg-3"
>
  <thead class="thead-dark">
    <tr class="text-bg-dark">
      <th scope="col">#</th>
      <th scope="col">Flag</th>
      <th scope="col">Name - (capital)</th>
      <th scope="col">Population</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngFor="let pais of resultados; index as i">
    <tr>
      <th class="border border-1">{{ i + 1 }}</th>
      <td class="border border-1">
        <img src="{{ pais.flags.png }}" alt="bandera" style="width: 50px" />
      </td>
      <td class="border border-1">
        {{ pais.name.common }}
        <span *ngIf="pais.capital"> - ({{ pais.capital }}) </span>
      </td>
      <td class="border border-1">{{ pais.population | number }}</td>
      <td class="border border-1 text-center">
        <a class="btn btn-secondary" [routerLink]="['/pais', pais.cca2]">Info</a>
      </td>
    </tr>
  </tbody>
</table>
